/* color palette from <https://github.com/vuejs/theme> */

html {
  font-size: 10px;
}

:root {
  --base-transition-speed: 0.1s;
  --color-bg-soft: #bfbebe;
  --color-bg-medium: #dfdfdf;
  --color-bg-deep: #ebebeb;
  --color-border: #b85042;

  --color-text-soft: #525252;
  --color-text: #c85b0d;
  --color-text-bright: #dd9441;

  /* --color-text: #8ab876; */
  --color-text-accent: #b85042;
  --color-text-basic: #242424;

  --linear-grad-theme-1: linear-gradient(90deg, #e9642f, #f18c08);
  --linear-grad-theme-2: linear-gradient(90deg, #da5c2a, #c54408);
}

.dark-theme {
  --color-bg-soft: #727579;
  --color-bg-medium: #121921;
  --color-bg-deep: #0b0b11;
  --color-border: #383d3c;

  --color-text-soft: #c2bdbd;
  --color-text: #84c4d2;
  --color-text-bright: #b5e8cf;

  --color-text-accent: #c8e0e0;
  --color-text-basic: #ffffff;

  --linear-grad-theme-1: linear-gradient(90deg, #42abdf, #54cbb5);
  --linear-grad-theme-2: linear-gradient(90deg, #1ab5ba, #2ba1bb);
}

.color-theme-1:hover {
  color: var(--color-theme-1);
}

.color-theme-2:hover {
  color: var(--color-theme-2);
}

.color-theme-3:hover {
  color: var(--color-theme-3);
}

.color-theme-4:hover {
  color: var(--color-theme-4);
}

.color-theme-5:hover {
  color: var(--color-theme-5);
}
