@import './base.css';

:root {
  --sidebar-width: 20em;
}

@font-face {
  font-family: 'Rowdies';
  src: url('./fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

* {
  font-family: 'Rowdies';
  margin: 0;
  color: var(--color-text);
}

body {
  background: var(--color-background);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}

svg {
  z-index: -10;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* 
.dot {
  position: absolute;
  z-index: -100;
  top: 4rem;
  left: -2rem;
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  border: 1rem solid var(--color-theme-2);
  display: inline-block;
} */

#photo-gallery {
  margin: auto;
  width: 80%;
  /* max-width: 1200px; */

  /* display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  align-content: stretch;
  row-gap: 5px;
  column-gap: 10px;
}

.gallery-image {
  transition: var(--base-transition-speed);
}

.gallery-image:hover {
  scale: 101%;
}

img {
  width: 100%;
  object-fit: cover;
}

/* img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
} */

#app {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
}

@keyframes logo-bounce {
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
}

.nav-elem {
  font-size: 2rem;
  margin: 0.5rem 1.25rem 0.5rem 1.25rem;
  transition: var(--base-transition-speed);
}

.nav-elem-active {
  color: #797878;
}

@keyframes flip-y-axis {
  0% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, -180deg);
  }
}

.nav-logo {
  width: 3.5em;
  margin: 0.5em;
  animation: flip-y-axis 3s ease-in-out alternate infinite both;
}

@keyframes rotate-2d {
  0% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, -180deg);
  }
}

.nav-hamburger-menu {
  margin: 0.5em;
}

a:hover,
button:hover {
  cursor: pointer;
}

.nav-elem:hover {
  transform: translateY(-0.2rem);
}

main {
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  background-color: var(--color-nav);
  background: none;
  margin-bottom: 2rem;
  position: sticky;
  z-index: 10;
}

.mobile-nav-menu-expanded {
  display: flex;
  flex-direction: column;
  background: var(--color-background);
  justify-content: space-evenly;
  font-size: 5rem;
  height: calc(100vh - 7rem);
  margin-top: -1rem;
  width: 100vw;
}

.invisible {
  opacity: 0;
}

.scroll-to-top-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 10;
  height: 4rem;
  width: 4rem;
}

.mobile-nav-elem {
  font-size: 10vw;
  transition: var(--base-transition-speed);
}

.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  background: var(--color-background-mute);
  margin-bottom: 1rem;
}

.mobile-nav-button-open-hamburger-menu {
  margin: 1rem;
  width: 4rem;
  height: 4rem;
  background: var(--color-background);
  border-width: 0.1rem;
  border-radius: 25%;
}

.project-gallery {
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
  row-gap: 6%;
  margin: auto;
  width: 90%;
}

.project-card {
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(#ffffff, rgb(95, 107, 142));
  background-size: 100% 400%;
  padding: 0.5rem;
  transition: var(--base-transition-speed);
  border-radius: 1rem;
  border: 0.1rem solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-card:hover {
  background-size: 100% 100%;
  scale: 101%;
}

.project-card-display-image {
  object-fit: cover;
  max-height: 20rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  box-sizing: border-box;
  margin: auto;
}

.project-card-title {
  font-size: 3rem;
}

.project-card-subtitle {
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-active {
  transition: all 0.2s ease;
  transition-delay: 0.2s;
}

.fade-leave-active {
  transition: all 0.2s ease;
}

.slide-enter-from {
  transform: translate(0, 200%);
}

.slide-enter-active {
  transition: 0.1s;
}

.slide-leave-active {
  transition: 0.1s;
}

.slide-leave-to {
  transform: translate(0, 200%);
}

.slide-from-right-enter-from {
  transform: translate(200%, 0);
}

.slide-from-right-enter-active {
  transition: calc(var(--base-transition-speed) * 2);
}

.slide-from-right-leave-active {
  transition: calc(var(--base-transition-speed) * 4);
}

.slide-from-right-leave-to {
  transform: translate(200%, 0);
}

.mobile-nav-menu-expanded body {
  overflow: hidden;
}

/* 
.NEW-photo-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.NEW-gallery-image {
  max-height: 15rem;
  margin: 0.5rem;
  object-fit: cover;
}

.photo-gallery-row {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

/* On mobile devices */
@media (width < 768px) {
  .nav-elem {
    display: none;
  }

  nav {
    justify-content: space-between;
  }

  .desktop-only {
    display: none;
  }

  .nav-logo {
    width: 3em;
  }

  .project-gallery {
    grid-template-columns: 100%;
    gap: 0.5rem;
    width: 100%;
  }

  #photo-gallery {
    width: 98%;
  }
}

@media (768px <= width < 1200px) {
  .mobile-only {
    display: none;
  }
}

@media (1200px <= width) {
  .mobile-only {
    display: none;
  }

  .project-gallery {
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    row-gap: 5%;
  }
}
