@import './base.css';

:root {
  --sidebar-width: 20em;
}

@font-face {
  font-family: 'Rowdies';
  src: url('./fonts/Prompt/Prompt-SemiBold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Rowdies';
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

body {
  background: var(--base-color-soft);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}

button {
  background-color: var(--color-background-soft);
  border: 0.1rem solid var(--color-text);
  height: 4rem;
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h1 {
  font-size: max(2rem, min(1.5vw + 1rem, 3rem));
  background: var(--linear-grad-theme-1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  display: table;
  /* transform: scale(1.25, 1); */
  transform-origin: top left;
  max-width: 100%;
  /* transition: 2s; */
}

/* body:not(.has-smooth-scroll).disable-page-scroll {
  overflow-y: scroll;
  position: fixed;
  top: var(--scrollTop,0)
} */

/* svg {
  z-index: -10;
  position: absolute;
  height: 100%;
  width: 100%;
} */
/* 
.dot {
  position: absolute;
  z-index: -100;
  top: 4rem;
  left: -2rem;
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  border: 1rem solid var(--color-theme-2);
  display: inline-block;
} */

#photo-gallery {
  margin: auto;
  width: 80%;
  /* max-width: 1200px; */

  /* display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  align-content: stretch;
  row-gap: 5px;
  column-gap: 10px;
}

.gallery-image {
  box-sizing: border-box;
  transition: all var(--base-transition-speed);
  transition: opacity calc(var(--base-transition-speed) * 2) ease-out;
}

.gallery-image:hover {
  scale: 101%;
}

img {
  width: 100%;
  object-fit: cover;
}

/* img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
} */

#app {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
}

@keyframes logo-bounce {
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
}

.nav-elem {
  font-size: 2rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  transition: var(--base-transition-speed);
  color: var(--color-text-mute);
}

.nav-elem:last-of-type {
  margin-right: 2.5rem;
}

.external-profile-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

path {
  transition: var(--base-transition-speed);
}

.nav-elem:hover {
  color: var(--color-text);
}

@keyframes flip-y-axis {
  0% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, -180deg);
  }
}

@keyframes bump {
  25% {
    transform: translateY(-2rem) scale(1.3, 1);
  }
  75% {
    transform: translateY(1rem);
  }
}

.test-flip-animation {
  animation: bump 1s ease alternate 1 both;
}

.nav-logo {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 1.5rem;
  /* animation: flip-y-axis 3s ease-in-out alternate infinite both; */
}

@keyframes rotate-2d {
  0% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, -180deg);
  }
}

.nav-hamburger-menu {
  margin: 0.5em;
}

a:hover,
button:hover {
  cursor: pointer;
}

main {
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;
  background-color: var(--color-background);
  margin-bottom: 2rem;
  z-index: 10;
  height: 7rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile-nav-menu-expanded {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  font-size: 5rem;
  position: fixed;
  float: right;
  shape-outside: inset(20%);
  top: 7rem;
  right: 0;
  width: 100vw;
  height: calc(100vh - 7rem);
  z-index: 10;
  background: var(--color-background);
}

.invisible {
  visibility: hidden;
}

.scroll-to-top-button {
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  z-index: 10;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.mobile-nav-elem {
  font-size: 3rem;
  transition: var(--base-transition-speed);
  margin: 2rem;
  color: var(--color-text-mute);
}

.mobile-nav-elem:hover {
  color: var(--color-text);
}

.mobile-nav-header {
  background-color: var(--base-color-deep);
  display: flex;
  justify-content: space-between;
  height: 7rem;
  margin-bottom: 2rem;
  top: 0;
}

.mobile-nav-button-open-hamburger-menu {
  margin-right: 1rem;
}

.svg-visible {
  fill: var(--color-text-mute);
}

.svg-cut-out {
  fill: var(--color-background);
}

svg:hover .svg-visible {
  fill: var(--color-text);
}

.mobile-nav-menu-router-links {
  display: flex;
  flex-direction: column;
}

.external-profile-links-group {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  margin-right: 1.5rem;
  column-gap: 1rem;
}

.project-gallery {
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
  row-gap: 2%;
  margin: auto;
  margin-top: 2rem;
  width: calc(100vw - 2rem);
}

.project-filters {
  width: calc(100vw - 2rem);
  margin: auto;
}

.project-filters-button {
  right: 0;
}

.project-card {
  width: 100%;
  box-sizing: border-box;
  background: var(--color-background);
  /* background: linear-gradient(var(--color-background), var(--color-background-soft));
  background-size: 100% 400%; */
  padding: 1rem;
  /* transition: var(--base-transition-speed); */
  border-radius: 1rem;
  border: 0.1rem solid var(--base-color-mute);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.project-card:hover {
  background-size: 100% 100%;
  /* scale: 101%; */
}

.project-card-display-image {
  object-fit: cover;
  max-width: 100%;
  border-radius: 0.5rem;
  /* border: 0.1rem solid black; */
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  aspect-ratio: 1.8;
}

.project-card-title {
  font-size: 2rem;
  background-image: linear-gradient(90deg, #4575c9, #55b0d4);
  background-clip: text;
  color: transparent;
}

.project-card-subtitle {
  font-size: 1.75rem;
  text-overflow: clip;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-active {
  transition: all calc(var(--base-transition-speed) * 1) ease;
  transition-delay: calc(var(--base-transition-speed) * 1);
}

.fade-leave-active {
  transition: all calc(var(--base-transition-speed) * 1) ease;
}

.slide-enter-from {
  transform: translate(0, 200%);
}

.slide-enter-active {
  transition: 0.1s;
}

.slide-leave-active {
  transition: 0.1s;
}

.slide-leave-to {
  transform: translate(0, 200%);
}

.slide-from-right-enter-from {
  transform: translate(100%, 0);
}

.slide-from-right-enter-active {
  transition: calc(var(--base-transition-speed) * 1.5) ease-out;
}

.slide-from-right-leave-active {
  transition: calc(var(--base-transition-speed) * 1.5) ease-in;
}

.slide-from-right-leave-to {
  transform: translate(100%, 0);
}

/* On mobile devices */
@media (width < 768px) {
  nav {
    justify-content: space-between;
  }

  .desktop-only {
    display: none;
  }

  .project-gallery {
    grid-template-columns: 100%;
    gap: 0.5rem;
    width: max(20rem, 100vw - 2rem);
  }

  .project-filters {
    width: max(20rem, 100vw - 2rem);
  }

  #photo-gallery {
    width: 95%;
  }

  .external-profile-link {
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
  }

  .external-profile-link:first-of-type {
    margin-left: 0rem;
  }

  .external-profile-links-group {
    height: 7rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    column-gap: 2rem;
  }
}

@media (768px <= width < 1200px) {
  .external-profile-links-group {
    height: 2rem;
    /* border-left: 0.1rem solid var(--color-background-mute); */
  }

  .external-profile-link:first-of-type {
    margin-left: 2.5rem;
  }

  .mobile-only {
    display: none;
  }

  .project-gallery {
    width: 80%;
  }

  .project-filters {
    width: 80%;
  }

  #photo-gallery {
    min-width: 729px;
  }
}

@media (1200px <= width) {
  .external-profile-links-group {
    height: 2rem;
    /* border-left: 0.1rem solid var(--color-background-mute); */
  }

  .external-profile-link:first-of-type {
    margin-left: 2.5rem;
  }

  .mobile-only {
    display: none;
  }

  .project-gallery {
    width: 80%;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    row-gap: 5%;
  }

  .project-filters {
    width: 80%;
  }
}
